:root{
    --background-color: #E0DDCF;
    --primary-color: #FFFFFF;
    --secondary-color: #2D232E;
    --comp-1-color: #ADA4AC;
    --comp-2-color: #474448;
    --text-color: #534B52;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background-color: #414049;
    }
} */

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--comp-1-color);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

.prevent-select{
    user-select: none;
}

.bg-color{
    background-color: var(--background-color);
}
.bg-primary{
    background-color: var(--primary-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
}
.bg-comp-1{
    background-color: var(--comp-1-color);
}
.bg-comp-2{
    background-color: var(--comp-2-color);
}

.text-color{
    color: var(--text-color);
}
.text-bg-color{
    color: var(--background-color);
}
.text-primary{
    color: var(--primary-color);
}
.text-secondary{
    color: var(--secondary-color);
}
.text-comp-1{
    color: var(--comp-1-color);
}
.text-comp-2{
    color: var(--comp-2-color);
}